@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Relief:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Lavishly+Yours&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat&family=Pacifico&family=Playwrite+AU+SA:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour+Convergence&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital@0;1&display=swap");

:root {
  --primary-text-color: oklch(21.6% 0.006 56.043);
  --secondary-text-color: oklch(37.4% 0.01 67.558);
  --white-color: oklch(97% 0.001 106.424);
  --pink-color: oklch(71.8% 0.202 349.761);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(./img/bg.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: grid;
  justify-content: center;
}

.container {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);

  transform: translateY(-200vh);

  transition: all 3s linear;
}

@scope (main.container) {
  section.top {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    place-items: center;
    height: 100vh;
  }

  section.center {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    place-items: center;
    height: 100vh;
  }

  section.bottom {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    place-items: center;
    height: 100vh;
  }
}

.cards-container {
  max-width: 330px;
  max-height: 70rem;
  transform-style: preserve-3d;
  position: relative;
  display: grid;
  place-items: center;
}

.card {
  max-width: 100%;
  max-height: 100%;

  border-radius: 2rem;
  padding: 1rem 0;

  background-color: #fff7;
  backdrop-filter: blur(7px);
  position: relative;
  backface-visibility: hidden;
}

@scope (.card) {
  .top {
    height: 93%;
  }

  /* .top p::first-letter {
    font-size: 4rem;
    float: left;
    line-height: 100%;
    text-align: justify;
    font-weight: normal;
  } */
  .bottom {
    height: 7%;
  }
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-text-color);
  transition: all 0.3s linear;
}

.card-default {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-text-color);
  background-color: var(--white-color);
  border-radius: 0;
}

.next {
  all: unset;
  background-color: var(--primary-text-color);
  color: var(--white-color);
  padding: 0.1rem 0.4rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}

.img-decor {
  width: 7.5rem;
  position: absolute;
  z-index: 2;
  filter: drop-shadow(-12px 5px 30px var(--primary-text-color));
}

.top-right-decor {
  right: 0;
  top: 0;
  transform: translate(4rem, -4rem);
}

.top-left-decor {
  top: 0;
  left: 0;
  transform: translate(-4rem, -4rem);

}

.bottom-right-decor {
  bottom: 0;
  right: 0;

  transform: translate(4rem, 4rem);
}

.bottom-left-decor {
  bottom: 0;
  left: 0;

  transform: translate(-4rem, 4rem);
}

@scope (.card .player) {
  & {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
  }
  img {
    width: 90%;
    border-radius: 2rem;
    margin-bottom: 1rem;
  }
  .music-title {
    color: var(--primary-text-color);
    font-size: 2rem;
  }

  .music-artist {
    color: var(--secondary-text-color);
    font-size: 1rem;
  }

  .slider-card {
    width: 95%;
    margin-bottom: 0.2rem;
  }

  .button-card {
    width: 45%;
    display: flex;
    justify-content: space-evenly;
  }
}

.prev-track {
  color: var(--primary-text-color);
}

.playpause-track {
  cursor: pointer;
  color: var(--primary-text-color);
  transition: all 0.3s linear;
}

.next-track {
  color: var(--primary-text-color);
}

.seek-slider {
  width: 100%;
  appearance: none;
  height: 5px;
  border-radius: 3px;
  background-color: var(--primary-text-color);
  overflow: hidden;
  position: relative;
}

.seek-slider::-webkit-slider-thumb {
  appearance: none;
  width: 1px;
  height: 5px;
  background-color: var(--white-color);
  box-shadow: -400px 0 0 400px var(--white-color);
}

.backTransition {
  border-radius: 0;
  background-color: var(--white-color);
  box-shadow: -13px 18px 47px -8px rgba(0, 0, 0, 0.58);
}

.font-c-g {
  font-family: "Cormorant Garamond", serif;
}

.rotate-to-back {
  animation: rotateToBack 3s linear forwards;
}

.rotate-to-back-from-default {
  animation: rotateToBack  3s linear 3s forwards;
}

.scroll-down-1 {
  transform: translateY(-100vh);
}

.scroll-down-2 {
  transform: translateY(0);
}

.translate-x--4 {
  transform: translate(-4rem , 0);
}


@keyframes rotateToBack {
  100% {
    transform: rotateY(180deg);
  }
}
